@CHARSET "UTF-8";
button{
	background-color:#0de1f9;
	color:white;
	font-size:1.3em;
	border-radius:5px;
	border:0px;
	padding:5px;
}
span{
	font-family:"黑体";
	margin-top:5px;
	color:gray;
	font-size:1.1em;
}
input{
	font-size:1.2em;
}