@CHARSET "UTF-8";
button{
	margin-left:20px;
}
.item{
	display:inline-block;
	text-align:center;
	line-height:40px;
	white-space: nowrap;
	color:white;
	margin-left:5px;
	font-weight:bold;
	font-size: 20px;
	background-color:red;
	width:40px;
	height:40px;
}
/*垂直居中 
.center-text-trick {
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
} */