@CHARSET "UTF-8";
.root{
	display:flex;
	border:1px solid black;
	width:1200px;
	height:300px;
	padding:5px;
	margin:100px auto;
	/* background:blue; */
	background:white;
	z-index:-1;
	justify-content:space-between;
	align-content:center;
}

.child1{
	display:flex;
	border:1px solid red;
	/* width:450px;  */
	height:250px;
	padding:5px;
	z-index:0;
	background:white;
	justify-content:space-between;
	align-content:center;
}

.child2{
	display:flex;
	border:1px solid blue;
	/* width:180px; */
	height:200px;
	padding:10px;
	margin-left:10px;
	z-index:1;
	background:white;
	justify-content:space-between;
	align-content:center;
}
.child3{
	display:flex;
	border:1px solid green;
	/* width:40px; */
	margin-left:10px;
	height:120px;
	padding:5px;
	z-index:2;
	background:white;
	justify-content:space-between;
	align-content:center;
}
.child4{
	border: 1px solid gray;
	width: 30px;
	background:white;
}
.select{
	background:blue;
}
.search{
	text-align:center;
}
.selected{
	background:red;
}