@CHARSET "UTF-8";
body{
	background-color:#c0c0c0;
}
#nav{
	background-color:#585858;
	height:100px;
	
}
#nav #logo{
	/* float:left; */
	margin-top:10px;
	margin-bottom:20px;
	margin-left:50px; 
}
#nav ul{
	float:right;
	margin-top:43px;
}
#nav li{
	display:inline;
	
}
#nav li a{
	text-decoration:none;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;	
	padding:20px;
}

#nav li a:hover{
	color:#999999;
}
#article1,#article2,#article3,.side{
	padding:20px; 
	background-color:#ffffff;
	align:center;
	width:95%;
	border:1px;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
}
h1{
	font-size:20px;
	font-weight:bold;
}
h2{
	font-size:18px;
	color:#808080;
	font-weight:bold;
}
.writer{
	font-size:12px;
	font-weight:bold;
	color:#808080;
}
p{
	text-indent:30px;
	font-size:14px;
	line-height:25px;
}
.normalUl{
	text-indent:30px;
	font-size:14px;
	line-height:25px;
	list-style-type:none;/* 去掉小圆点 */
}

.img{
	width: 200px; 
	height: 200px;
	
}
.img_border{
	/* padding:10px; */
	margin-top:40px;
	text-align:center;
	width: 240px; 
	height: 260px;
	border:#a5a5a5 solid thin;
}
.img_border p{
	text-indent:0px;
}
ol li{
	font-weight:bolder;
	line-height:24px
}
.normal_table{
	padding:10px;
	width:100%;
	border:solid 1px Black;
	border-collapse:collapse;/* 设置表格的边框被合并成一个单一的边框 */
	
}
.normal_table td{
	border:solid 1px #999999;
	padding:5px;
}
thead{
	background-color:#7c756b;
}
tbody{
	
	
}
tfoot{
	background-color:#c0c0c0;
}
.form_table{
	
}
form{
	position:relative;
	left:300px;
}
.remark{
	font-size:12px;
	color:#999999;
	
}
.submit_button{
	padding-top:5px;
	padding-bottom:5px;
	font-size:18px;
	color:white;
	font-weight:bold;
	width:100%;
	background-color:#0000ff;
	border-radius:10px;/* 圆角按钮 */
	border:none;/*  去掉按钮的边*/
}
footer{
	padding-top:15px;
	text-align:center;
	font-weight:bold;
	color:white;
	font-size:10px;
	background-color:#222222;
	height:40px;
}
.label{
	float:right;
	text-align:right;
	font-size:14px;
	padding-right:15px;
}
.side td .option{
	
	font-size:14px;
	
}
/* .side textarea{
	width:50%;
	height:100px;
} */